FLEXISIP_PACKAGE_VERSION=2.6.0-1
FLEXISIP_IMAGE=coolnik/flexisip:2.6.0-1
REDIS_IMAGE=redis:7.4.9-alpine
CERTBOT_IMAGE=certbot/certbot:v5.7.0
SIP_DOMAIN=sip.coolnik.ru
CERTBOT_EMAIL=coolniktel@gmail.com
